<div>
    <h2>Growing List Example</h2>
    </br>

    <div class="row">
        <div class="col-3">
            <h3>Add New Item</h3>
            <form name="inputForm" ng-submit="inputForm.$valid && ctrl.submit();">
                <input ng-model="ctrl.headline" placeholder="Headline" required>
                <input ng-model="ctrl.description" placeholder="Description" required>
                <input ng-model="ctrl.body" placeholder="Body" required>
                <button type="submit">Add Item</button>
            </form>
        </div>

        <div class="col-9">
            <h3>Existing Items</h3>
            <div ng-repeat="item in ctrl.items">
                <h4>{{ item.headline }}</h4>
                <p>{{ item.description }}</p>
                <p>{{ item.body }}</p>
            </div>
        </div>
    </div>
</div>