<!DOCTYPE html>
<html>

<head>
    <title>Sample Demo Application</title>
</head>

<body ng-app="demoApp">
    <h1>Welcome to my Sample Application</h1>
    <a href="#!view1">View 1</a>
    <a href="#!view2">View 2</a>

    <div ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="../app/initialise/routes.js"></script>
    <script src="../app/controllers/simpleController.js"></script>
</body>

</html>