<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <a class="navbar-brand" href="#">AngularJS Examples</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Example Pages</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#!simpleBinding">Simple Binding</a>
                    <a class="dropdown-item" href="#!growingList">Growing List</a>
                    <a class="dropdown-item" href="#!simpleMath">Simple Math Service</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!helpfulDirectives" data-toggle="dropdown">Helpful Directives</a>

            </li>
        </ul>
    </div>
</nav>