<div>
    <h2>Simple Math Service</h2>
    <p>This example uses a service to perform mathematical calculations on the numbers you entered below in real time.</p>

    <input ng-model="ctrl.valueOne" placeholder="Value One" type="number" required />
    <input ng-model="ctrl.valueTwo" placeholder="Value Two" type="number" required />

    <br/>
    <br />

    <div class="alert alert-info" role="alert">
        When multipled, the result is {{ ctrl.multipledResult() }}
    </div>
    
    <div class="alert alert-info" role="alert">
        When subtracted, the result is {{ ctrl.subtractedResult() }}
    </div>
    
</div>